<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Title of my App</title>

        <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: navy;
            background-color: #ffffff;
        }
        </style>
    </head>

    <body>
        %CONTENT%
    </body>
</html>
