<!-- other comment -->
<!--
    {
        "name": "name-of-template",
        "description": "The description of the template in Mailgun",
        "comment": "Comment of the version",
        "layout": {
            "file": "hola",
            "replace_string": "hola"
        }
    }
-->
<!-- other comment 1 -->
<div style="text-align:center;margin: 0 auto;" align="center">
    <!-- other comment 2 -->
    <div style="font-family:'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;font-style: normal;padding:5px 5px 5px 5px;font-stretch: normal;font-size:16px;line-height: 1.71;font-weight:200;margin: 0 auto;text-align:center;color:#455ba8;border:0;">
        <p>Hi there<br/>
        This is a test.</p>
    </div>
</div>
  